.crypto__list {
  width: 550px;
  border-radius: 15px;
  border: 1px solid #187e5f;
  background-color: rgba(25, 78, 65, 0.5);
  padding: 20px;
  margin-right: 20px;
  margin-top: 40px;
  height: 250px;
}