#root {
  max-width: 100vw;
  text-align: center;
  background-color: #474a55 ;
  color: white;
}
.container {
  max-width: 1440px;
  width: 100%;
  margin-inline: auto;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;

}

.header__image {
  box-sizing: border-box;
  display: block;
  margin-top: 0;
  width: 1440px;
  height: 475px;
  background-color: red;
  padding: 100px;
  position: static;
  background-image: url(./assets/crypto_website_logo.png);
  background-size: contain;
  border-radius: 10px;
}
.main {
  height: 100vh;
  background-color: #000103;
}
.main__col {
  display: flex;
  justify-content: space-around;
}
.crypto__block {
  color: white;
  padding: 10px 40px;
  font-size: 24px;
  margin-bottom: 10px;
  background-color: rgba(25, 78, 65, 0.4);
  opacity: 1;
  border: 1px solid rgba(25, 78, 65, 0.4);
  border-radius: 10px;
  transition: 0.2s;
}
.crypto__block:hover {
  background-color: #187e5f;

}
.crypto__block--wrapper {
  background-color: red;
  width: 550px;
  border-radius: 15px;
  border: 1px solid #187e5f;
  background-color: rgba(13,65,65, 0.5);
  padding: 20px;
  margin-right: 20px;
}
ul {
  list-style-type: none;
  text-align: left;
}