

.main {
  height: 100vh;

}
.main__col {
  display: flex;
  justify-content: space-around;

}
.crypto__block {
  margin-right: 10px;
  color: white;
  padding: 10px 30px;
  font-size: 18px;
  margin-bottom: 10px;
  background-color: rgba(25, 78, 65, 0.4);
  border: 1px solid rgba(25, 78, 65, 0.4);
  border-radius: 10px;
  transition: 0.2s;
}

.crypto__block--wrapper {
  width: 550px;
  border-radius: 15px;
  border: 1px solid #187e5f;
  background-color: rgba(25, 78, 65, 0.5);
  padding: 20px;
  margin-right: 20px;
  margin-top: 40px;
  height: 250px;
}
.behind {
  background-color: rgba(25, 78, 65, 0.5);
}
ul {
  list-style-type: none;
  text-align: left;
}
h1 {
  color: white;
  text-align: center;
}
.current {
  background-color: rgba(25, 78, 65, 0);
}